
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div style="text-align:center; color:skyblue" >
        <div class="title-text">
            <p style="font-style: italic;"><b><h1>Facts About Dogs You Probably Didn't Know</h1></b></p>
        </div>
    </div>
</div>

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                1. Dogs have a sense of time. It's been proven that they know the difference between a hour and five.
                If conditioned to, they can predict future events, such as regular walk times.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img12.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                2. Your dog is as smart as a two-year old! Ever wonder why children around this age seem to have a
                special bond with the family dog? It could be because they speak the same language, roughly 250 words and
                gestures in fact.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img13.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                3. A study at UCSD claims that your dog can genuinely get jealous when they see you display affection for another creature.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img14.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                4. The United States has the highest pet dog population in the world. Approximately 75.8 million in fact.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img15.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                5. Seeing eye dogs are trained to do their “business” on command. This way their owner can clean it up a bit easier.
                Some of the popular commands are “get busy” and “go time”.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img16.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                6. Man’s best friend? Petting a dog and gazing into their eyes releases oxytocin (i.e the “love hormone”) not only
                for you, but for them as well.
            </article>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                7. The Saluki is the world’s oldest dog breed. They appear in ancient Egyptian tombs dating back to 2100 B.C.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img17.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                8. Dachshunds were originally bred to fight badgers.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img18.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                9. Dogs that have been spayed or neutered live longer than dogs who are intact.
            </article>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                10. More than half of all U.S presidents have owned dogs.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img19.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                11. Stray dogs in Russia have learned how to ride the complex subway system, and get off at specific stops in search of food.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img20.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                12. Your dog can smell your feelings. In fact, your dog’s sense of smell is approximately 100,000 times better than yours.
                So it shouldn’t be shocking that they can in fact, smell things such as fear. When a human is fearful, they perspire, and a
                dog is easily able to pick up on this change.
            </article>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                13. Dogs have wet noses because it helps to absorb scent chemicals.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img21.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                14. Dogs can be trained to to detect cancer and other diseases in humans. Cancerous cells release different metabolic waste
                products than healthy cells in the human body. Dogs may even be able to sniff out cancer cells simply through smelling
                someone’s breath.
            </article>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                15. Do you have a dog that experiences separation anxiety? Try leaving some clothing with him that you’ve worn. It’s
                been proven that the scent you leave behind on your clothes can help ease your dog’s separation anxiety.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img22.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                16. When your dog is carefully choosing the perfect place to do his business, it is because they prefer to go poop in
                alignment with the Earth’s magnetic field.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img23.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                17. Have you ever wondered why your dog curls up in a ball when they sleep? It’s actually an age-old instinct to keep
                themselves warm and to protect vital organs while they sleep.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img24.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                18. Your dog can help get you a date! One study showed that a man’s chances of getting a girl’s phone number went
                from 10% to 33%, just by having a dog with them. In the study, a staggering 66% of men and women would not date someone
                who did not like pets.
            </article>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                19. Labradors have been the most popular breed in the United States for the last 26 years.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img25.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                20. There are approximately 600 million dogs in the world. It is estimated that nearly 400M of those dogs are strays.
            </article>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                21. Scientists believe that the world’s first known dog lived 31,700 years ago. This prehistoric dog resembled a large
                Siberian Husky.
            </article>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                22. Former Michael Vick dogs, Sox and Hector, are certified therapy dogs. They now spend their days cheering up people
                at hospitals, nursing homes, and schools.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img26.png" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col col-lg-1" style="background-color:transparent;"> </div>
        <div class="col-lg-10">
            <article style="color:white;">
                23. Spiked collars were originally fashioned in ancient Greece to protect dogs’ throats from wolf attacks.
            </article>
            <img class="img-thumbnail" src="~/Content/imgs/img27.png" />
        </div>
    </div>
    <br />
</div>




