
@{
    ViewBag.Title = "Top";
}
<br />
<h3 align="center" style="color: white; font-style:italic;"> 🐾 The 10 Smartest Dogs</h3>
<br />
<div id="top">
    <div class="container-fluid">
        <div class="row centered">
            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img2.png">
                <p>
                    <strong style="color:skyblue">1. Border Collie</strong>
                </p>
                <p style="color: white;">
                    The valedictorians of the dog world, these herders took the top spot in Stanley Coren's intelligence rankings,
                    meaning most can learn a new command in under five repetitions and follow it at least 95% of the time.
                </p>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img3.png">
                <p>
                    <strong style="color:skyblue">2. Poodle</strong>
                </p>
                <p style="color: white;">
                    Nowadays you can adopt cockapoos, whoodles and goldendoodles, to name a few, but breeders love regular
                    ol' poodles for more than just their hypoallergenic qualities. The curly coated cuties also took the
                    silver medal for working intelligence in Coren's survey.
                </p>
            </div>

            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img4.png">
                <p>
                    <strong style="color:skyblue">3. German Shepherd</strong>
                </p>
                <p style="color: white;">
                    German Shepherds happily serve as police dogs, seeing eye dogs, medical assistance dogs, and therapy
                    dogs, so it's no surprise that consistent obedience comes standard with this breed.
                </p>
            </div>

            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img5.png">
                <p>
                    <strong style="color:skyblue">4. Golden Retriever</strong>
                </p>
                <p style="color: white;">
                    That's right. One of the nation's most beloved family pets also took home straight A's in this
                    intelligence survey. While the breed originated in hunting, Goldens also enjoy acting like straight-up
                    goofballs once in awhile too.
                </p>
            </div>
        </div>

        <div class="row centered">
            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img6.png">
                <p>
                    <strong style="color:skyblue">5. Doberman Pinscher</strong>
                </p>
                <p style="color: white;">
                    Dobermans got their start in the late 19th century, when a German tax collector named Louis Dobermann wanted a
                    medium-sized pet to act as both a guard dog and companion. Translation: These fearless protectors can hold their
                    own, and hang with kids.
                </p>
            </div>

            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img7.png">
                <p>
                    <strong style="color:skyblue">6. Shetland Sheepdog</strong>
                </p>
                <p style="color: white;">
                    Smaller than collies, these adorable fluffballs hold their own in herding, agility, and obedience trials.
                    Consequently, Shelties do tend to bark, chase, and herd, but their affectionate nature and love for cuddles
                    will erase any hard feelings.
                </p>
            </div>

            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img8.png">
                <p>
                    <strong style="color:skyblue">7. Labrador Retriever</strong>
                </p>
                <p style="color: white;">
                    Labs love to please, whether it's as guide dogs, narcotic detection dogs, or just everyday family pets.
                    Americans have accordingly made them the most popular breed in the country for a whopping 27 years in a row.
                </p>
            </div>

            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img9.png">
                <p>
                    <strong style="color: skyblue;">8. Papillon </strong>
                </p><p style="color: white;">
                    The first toy breed to crack the top 10, papillons aren't your average lap dogs. The 5-pound wonders often
                    take home top prizes at competitive agility trials, according to the American Kennel Club. Their name — French
                    for "butterfly" — alludes to their tall, pointed ears.
            </div>
        </div>

        <div class="row centered">
            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img10.png">
                <p>
                    <strong style="color:skyblue">9. Rottweiler</strong>
                </p>
                <p style="color: white;">
                    Rottweilers likely descended from drover dogs in Ancient Rome, with the rugged, dependable temperament to boot.
                    An engaged Rottweiler owner will take care to train and exercise their pooch thoroughly – with the reward of a 
                    loving and loyal friend.
                </p>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" src="~/Content/imgs/img11.png">
                <p>
                    <strong style="color:skyblue">10. Australian Cattle Dog</strong>
                </p>
                <p style="color: white;">
                    The Australian Cattle Dog sits outside of the top 50 in AKC's popularity rankings, but don't miss out on this 
                    smart breed. Alert, curious and pleasant, the high-energy herders do best with a job.
                </p>
            </div>

        </div>
    </div>
</div>
